<<<<<<< HEAD
<<<<<<< Updated upstream
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
=======
<!-- Top Section -->


<!-- Scroll Sections -->

>>>>>>> Stashed changes
=======
<h1>{{title}}</h1>
>>>>>>> f1c504694398aa42fa00f325098ea09f2a57161d
